body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: sans-serif ;
}
.heading{
    color: #f5f5f5;
    font-size: 25px;
    text-transform: uppercase ;
    text-align: center;
}

.time {
     background: #090909;
     color: #ffffff;
     font-size: 100px;
     width: 150px;
     margin: 0 10px;
     text-align: center;
}